################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DayToDate/obj/Debug
/DayToDate.Tests/obj/Debug
/.vs/DayToDate/v16
/DayToDate/bin
/DayToDate.Tests/bin/Debug
/packages
/.vs
